body {
  margin: 0;
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 400;
  height: 100vh;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
